* { margin:0; padding:0; box-sizing:border-box; }

body { 
	background-color: #FFEFD5;
	color:#800080;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
main {
	float:left;
	margin:.5%;
	width:65.66%;
}
section {
	margin-bottom:2%;
	padding:5em;
	box-shadow:2px 2px 5px rgba(0,0,0,.4);
}
nav {
	background: #800080;
	padding: .5em 1em;
	text-align: center;

}
nav a {
	color: #FFEFD5;
	display: inline-block;
	padding: .5em 1em;
}

aside{
	float:left;
	margin:.5%;
	padding:2em;
	width:32.33%;
	background-color: #800080;
	color: #FFF8DC;
	box-shadow:2px 2px 5px rgba(0,0,0,.4);
	text-align:center;
}
footer {
	text-align: center;
	background-color: #DE95DE;
	padding: .2em;
	margin: 2em 0 2em 0;
}
div#splash {
	background:url(../images/bookshelve.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height:50vh;
}
h1, h2, h3, h4, h5, h6 {
	text-align:center;
}

h1  {
	font-family: 'Tangerine', cursive;
	font-weight: 500;
	font-size: 5em;
	margin-top: .2em;
	text-shadow: 2px 2px #A0A0A0;
}

h3 {
	font-family: 'Tangerine', cursive;
	font-size: 2em;
	padding: .5em;
}

p {
	margin: 0 0 1em 0;
}
input {
	float:left;
	padding:1em 0;
	text-align:center;
}
input[type="text"] {
	width:66.66%;
	color: #800080;

}
input[type="submit"] {
	width:33.33%;
	cursor: pointer;
	background-color: #D8BDD8;
	color: #800080;
}
ul {
	list-style-type: none;
}

a {
	color: #FFEFD5;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
.wrapper {
	max-width:60em;
	margin:auto;
}
#slogan {
	font-style: italic;
	font-size: 1.5em;
	text-align: center;
}

#intro {
	background-color: #D8BDD8;
}
#about {
	background-color: #FFFAFA
}

#blogs {
	background-color: #E0BBE0;
}

#bookcover {
	float: left;
	margin: .2em 1em 1em 0;
}

#socialmedia {
	margin-top: .5em;
}

#twitter {
	padding-left: .5em;
	cursor: pointer;
}

#facebook {
	cursor: pointer;
}

#newsletter {
	margin-top: 2.5em;
}

#quote {
	margin-top: 5em;
}

#currentreads {
	margin-top: 2em;
}

#kingcover {
	box-shadow:2px 2px 5px rgba(0,0,0,.4);
	cursor: pointer;
}

#tyrantcover {
	box-shadow:2px 2px 5px rgba(0,0,0,.4);
	cursor: pointer;
}

#weeklycover {
	margin-top: 3em;
}
#thehouse {
	padding-left: .5em;
	box-shadow:2px 2px 5px rgba(0,0,0,.4);
	cursor: pointer;
}
.mobile-nav {
	display: none;
}
.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
	cursor: pointer;
}
 
.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: #FFEFD5;
	z-index: 99;
}
 
.responsive-menu{
	display: none;
}
 
.expand {
	display: block !important;
	margin-top: 1em;
}
.clearfix:after, .wrapper:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;

}

@media only screen and (max-width: 2000px) and (min-width: 946px) {
	a {
	color: #800080;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	}
	a:hover {
		background-color: transparent;
	}
}

@media only screen and (max-width: 945px) and (min-width:641px) {
	nav {
		display:none;
	}
	nav a {
	color: #FFEFD5;
	display: inline-block;
	padding: .5em 1em;
	}
	a {
	color: #800080;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	}
	a:hover {
		background-color: transparent;
	}

	section {
		padding: 5em 2em 5em 2em;
	}
	.mobile-nav {
		display:block;
		background: rgba(80,00,80,.7);
		padding: 1em;
		position: absolute;
	}
}

@media only screen and (max-width: 640px) and (min-width: 400px) {
	main {
		width: 98%;
	}
	aside {
		width: 98%;
	}

	nav {
		display:none;
	}
	nav a {
	color: #FFEFD5;
	display: inline-block;
	padding: .5em 1em;
	}

	a {
	color: #800080;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	}
	a:hover {
		background-color: transparent;
	}
	section {
		padding: 5em 2em 5em 2em;
	}
	footer {
	text-align: center;
	background-color: #DE95DE;
	padding: 2em;
	margin: 2em 0 0 0;
	}
	.mobile-nav {
		display:block;
		background: rgba(80,00,80,.7);
		padding: 1em;
		position: absolute;
	}

@media only screen and (max-width: 433px) and (min-width: 320px) {
	h1  {
	font-family: 'Tangerine', cursive;
	font-weight: 500;
	font-size: 4em;
	margin-top: .2em;
	text-shadow: 2px 2px #A0A0A0;
	}
}


@media only screen and (max-width: 480px) and (min-width: 320px) and (orientation:portrait) {

	body {
		overflow: auto;
		color: #800080;
	}

	h1  {
	font-family: 'Tangerine', cursive;
	font-weight: 500;
	font-size: 4em;
	margin-top: .2em;
	text-shadow: 2px 2px #A0A0A0;
}

	main {
		width: 98%;
	}

	aside {
		width: 98%;
	}

	nav {
		display:none;
	}
	nav a {
		color: #FFEFD5;
		display: inline-block;
		padding: .5em 1em;
	}
	a {
	color: #FFEFD5;
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
	}
	a:hover {
		background-color: transparent;
	}

	footer {
	text-align: center;
	background-color: #DE95DE;
	padding: 2em;
	margin: 2em 0 0 0;
	}
	.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	margin-left: 48%;
	background: #FFEFD5;
	z-index: 99;
	}
	.mobile-nav {
	display:block;
	background: rgba(80,00,80,.7);
	padding: 1em;
	position: absolute;
	width: 100%;
	}
	.expand {
	display: block !important;
	margin-top: 1em;
	text-align: center;
	}

}

