* { margin:0; padding:0; box-sizing:border-box; border:1px solid red;}

body {
	background-color: #FFEFD5;
	color:#800080;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
section {
	padding:5em 0;
}
nav {
	background: #800080;
	padding: .5em 1em;
}
nav a {
	color: #FFEFD5;
	display: inline-block;
	padding: .5em 1em;
}
div#splash {
	background:url(../images/bookshelve.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height:50vh;
}
h1  {
	text-align: center;
	font-family: 'Tangerine', cursive;
	font-weight: 500;
	font-size: 5em;
	padding: 20px;
	margin: 15px; 
}

h2{
	text-align: center;
}

p {
	font-size: 1em;
	padding: 10px;
	margin: 10px;
}

aside{
	
}

ul {
	list-style-type: none;
}

a {
	color: #800080;
	font-weight: bold;
	text-decoration: none;
}

section {
	float: left;
	width: 70%;
}

#slogan {
	font-style: italic;
	font-size: 1.5em;
}

#mobilenav {
	display: none;
}

#bookcover {
	float: left;
	margin-right: 1em;
	margin-left: 1.2em;
	margin-top: 1.5em;

}

@media only screen and (max-width: 480px) {
	body {

		font-size: 0.87em;
	}

	h1 {
		width: 100%;
	}

	img {
		width: 100%;
	}

	nav {
		height: 60px;
	}

	nav a {
		float: none;
		width: auto;
		display: none;
	}

	#mobilenav {
		display: block;
	}
}

@media only screen and (max-width: 320px) {
	body {
		font-size: 0.87em;
	}

	h1 {
		width: 100%;
	}

	img {
		width: 100%;
	}

	nav {
		height: 60px;
	}

	nav a {
		float: none;
		width: auto;
		display: none;
	}

	#mobilenav {
		display: block;
	}
}
