* { margin:0; padding:0; box-sizing:border-box; border:1px solid red;}

body { 
	background-color: #FFEFD5;
	color:#800080;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}
main {
	float:left;
	width:62%;
}
section {
	padding:5em 2em;
}
nav {
	background: #800080;
	padding: .5em 1em;
	text-align: center;
}
nav a {
	color: #FFEFD5;
	display: inline-block;
	padding: .5em 1em;
}
aside{
	float:left;
	padding:2em;
	width:38%;
	background-color: #800080;
	color: #FFF8DC;
	height: 1825px;
}
div#splash {
	background:url(../images/bookshelve.jpg);
	background-repeat: no-repeat;
	background-size:cover;
	height:50vh;
}
h1, h2, h3, h4, h5, h6 {
	text-align:center;
}
h1  {
	font-family: 'Tangerine', cursive;
	font-weight: 500;
	font-size: 5em;
}

h3 {
	font-family: 'Tangerine', cursive;
	font-size: 2em;
}

p {
	margin: 0 0 1em 0;
}
form {
	text-align: center;
	padding: 1em;
}

ul {
	list-style-type: none;
}

a {
	color: #800080;
	font-weight: bold;
	text-decoration: none;
}

footer {
	text-align: center;
}
.wrapper {
	max-width:60em;
	margin:auto;
}
#slogan {
	font-style: italic;
	font-size: 1.5em;
	text-align: center;
}

#mobilenav {
	display: none;
}

#intro {
	text-align: center;
	background-color: #D8BDD8;
}
#about {
	text-align: center;
	background-color: #FFFAFA
}

#blogs {
	background-color: #E0BBE0;
}

#bookcover {
	float: left;
	margin:1.5em 1em 0 1.2em;
}

#socialmedia {
	position: relative;
	top: 1em;
	padding-left: 6em;
}

#twitter {
	padding-left: .5em;
}

#newsletter {
	position: relative;
	top: 7em;
}

#quote {
	position: relative;
	text-align: center;
	top: 13em;
}

#currentreads {
	position: relative;
	top: 20em;
}

#kingcover {
	padding-left: 2em;
}

#tyrantcover {
	padding-left: 2em;
}

#weeklycover {
	position: relative;
	top: 28em;
}
#thehouse {
	padding-left: 6em;
}

.clearfix:after, .wrapper:after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both;

}

@media only screen and (max-width: 1078px) {
	#kingcover {
		padding-left: 1.5em;
	}

	#thehouse {
		padding-left: 5.5em;
	}
}

@media only screen and (max-width: 1061px) {
	aside {
		height: 1847px;
	}
}

@media only screen and (max-width: 1053px) {
	aside {
		height: 1869px;
	}
	#kingcover {
		padding-left: 1.3em;
	}

}

@media only screen and (max-width: 1020px) {
	aside {
		height: 1870px;
	}
	#kingcover {
		padding-left: 1.5em;
	}

	#tyrantcover {
		padding-left: 1em;
	}

	#thehouse {
	padding-left: 5em;
	}

}

@media only screen and (max-width: 987px) {
	aside{
		height: 1913px;
	}

	#socialmedia {
		padding-left: 5em;
	}
}


@media only screen and (max-width: 962px) {
	body {
		font-size: 16px;
	}

	h1 {
		width: 100%;
	}

	nav {
		height: 60px;
	}

	nav a {
		float: none;
		width: auto;
		display: none;
	}

	#mobilenav {
		display: block;
	}
}
